<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>dev.kmfg.discordaudio</string>

<key>ProgramArguments</key>
<array>
<string>/usr/local/bin/python3</string>
<string>/Users/kyle/Python/sm57_sb/main.py</string>
</array>

<key>RunAtLoad</key>
<true/>

<key>KeepAlive</key>
<true/>

<key>StandardOutPath</key>
<string>/tmp/dev.kmfg.discordaudio.stdout</string>

<key>StandardErrorPath</key>
<string>/tmp/dev.kmfg.discordaudio.stderr</string>
</dict>
</plist>

